.login_trocar {
    height: 400px;
}

.trocar_senha {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.trocar_conteudo {
    position: relative;
    height: 100%;

}

.div_logo_trocar {
    height: 50px;
    margin-top: 50px;
    margin-bottom: 15px;

}

.ipt_form {
    margin-bottom: 20px;
}